{% block title %}
    Instructions
{% endblock %}

{% block content %}

    <p>
        <b>You answered {{ player.test_correct }} questions correctly.</b> You can find all questions and the correct answers repeated below.
    </p>

    <p>
        {{Constants.test1_label}}
        <br>
        The correct answer is: {{test1_solution}}
        <br>
        Your answer was: {{player.field_display('test1')}}
        <br><br>
        {{Constants.test2_label}}
        <br>
        The correct answer is: {{test2_solution}}
        <br>
        Your answer was: {{player.field_display('test2')}}
        <br><br>
        {{Constants.test3_label}}
        <br>
        The correct answer is: {{test3_solution}}
        <br>
        Your answer was: {{player.field_display('test3')}}
        <br><br>
        {{Constants.test4_label}}
        <br>
        The correct answer is: {{test4_solution}}
        <br>
        Your answer was: {{player.field_display('test4')}}
        <br><br>
        {{Constants.test5_label}}
        <br>
        The correct answer is: {{test5_solution}}
        <br>
        Your answer was: {{player.field_display('test5')}}
        <br><br>
        {{Constants.test6_label}}
        <br>
        The correct answer is: {{test6_solution}}
        <br>
        Your answer was: {{player.field_display('test6')}}
    </p>

    {% if player.test_correct >= Constants.test_questions_required %}
        <p>
            You can now proceed to the study.
        </p>
        <style>
            .next {float: right; margin: 40px auto;}
        </style>
        <button class="btn btn-primary next">Next</button>

    {% else %}
        <br>
        <p>
            Unfortunately, {{ Constants.test_questions_required }} correct answers were required to continue the study.
            This marks the end of the study.
        </p>
        <p>
            As described earlier, you have the chance to return your submission within 24 hours.
            If you do not return your submission, we will have to reject it.
            You will receive €0.20 for your time in the form of a bonus.
            This procedure is in line with Prolific's policy and it has been approved by Prolific's administrators.
        </p>
        <p>
            To leave the study, simply close your browser or the active window.
        </p>

    {% endif %}


{% endblock %}